# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Data (keep repo light)
data/raw/
data/processed/
data/external/
data/html_cache/

# Optional outputs
visuals/
reports/
figures/
